body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.main {
    margin-top: 30px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.content {
    padding: 0 10px;
}
#cpu {
    width: 100%;
}

.pname {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 6px;
}
#stars {
    height: 16px;
}
.rating {
    color: #2162A1;
    font-size: 15px;
}
.buyers {
    color: rgb(87, 87, 87);
}
.price {
    font-size: 30px;
    margin: 8px 0;
}
.price sup {
    font-size: 14px;
    font-weight: 500;
}
.shipping {
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 8px;
}

button {
    background-color: #FFD814;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: 500;
}