body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.main {
    margin-top: 4px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.content {
    padding: 0 8px;
}

#cpu {
    width: 100%;
}

.pname {
    font-size: 19px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 6px;
}

#stars {
    height: 18px;
}

.rating span {
    color: #2162A1;
    font-size: 16px;
    margin-bottom: 10px;
}

.buyers {
    color: rgb(87, 87, 87);
    font-weight: 500;
}

.price {
    font-size: 30px;
    margin: 8px 0;
    font-weight: 500;
}

.price sup {
    font-size: 14px;
}

.shipping {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #FFD814;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 15px;
}